.banner {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-radius: 30px;

  // background: linear-gradient(180deg, #ffac1b 0%, #fdfdfd 100%);
  &__item {
    border-radius: 30px;
    flex: 0 0 auto;
    width: 100%;
    background-color: rgb(253, 253, 253, 0.5);
    backdrop-filter: blur(30px);
  }


  &__main {
    position: relative;
    padding: 30px;
  }
  &__title {
    color: #222328;
    font-size: clamp(1.25rem, 1.0981rem + 0.7595vw, 2rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
    span {
      display: inline-block;
      padding: 6px 15px 6px 15px;
      color: #fff;
      font-size: clamp(1.25rem, 1.0981rem + 0.7595vw, 2rem);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 60px;
      border: 1px solid #f5f5f5;
      background: #231f20;
      backdrop-filter: blur(20px);
      margin-left: 10px;
    }
  }
  &__subtitle-wrapper {
    margin-bottom: 30px;
  }
  &__subtitle {
    color: #222328;
    font-size: clamp(1rem, 0.9494rem + 0.2532vw, 1.25rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
  }
  &__img {
    right: 22px;
    bottom: 22px;
    position: absolute;
  }
  &__bottom {
    border-radius: 0 0 30px 30px;
    padding: 35px;
    background: rgba(253, 253, 253);
  }

  &__btn {
    width: 100%;

    text-align: center;
    a {
      color: #f6f6f9 !important;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 34px 55px;
      width: 100%;
      max-width: 376px;
      border-radius: 60px;
      background: #f19900;
      transition: all 0.3s ease;
      &:hover {
        background: #fcaa1b;
      }
    }
  }
}
.connection-icons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  &__menu {
    margin: 0;
  }
}
.connection-item-icon {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 34px;
  justify-content: center;
  margin: 0 auto;
  width: 34px;
  &__telegram {
    background-image: -webkit-linear-gradient(-30deg, #76cce9, #4cb8f6 72%);
  }
  &__wa {
    background-image: -webkit-linear-gradient(-30deg, #60d64d, #48c462 72%);
  }
}
header {
  margin-bottom: 20px;
  .header_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 30px;
    border-radius: 0px 0px 50px 50px;
    background: #fff;
  }
  .header_left {
    display: flex;
    align-items: center;
    gap: 58px;
  }
  .menuLinkActive {
    border-bottom: 3px solid #f19900;
  }
  .header_menus {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    li a {
      white-space: nowrap;
      color: #222328;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      position: relative;
      transition: all ease 0.2s;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2.5px;
        border-radius: 4px;
        background-color: #f19900;
        bottom: -3px;
        left: 0;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 0.2s ease-in-out;
      }
      &:hover {
        color: #f19900;
      }
      &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }
  .header_phone a {
    margin-left: 8px;
    color: #f19900;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.header_menus {
  &.active {
    border-radius: 30px;
    height: 64%;
  }
}
.modal-overlay {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px); /* Добавляем размытие */

  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_girl img {
  position: relative;
  z-index: 5;
}

.advice0 .item_img img {
  width: 95%;
}
.advice1 .item_img img {
  width: 79%;
}
.advice2 .item_img img {
  width: 106%;
}
//  hero section
.partner_img {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.2s;
  &:hover {
    .no_active {
      display: none;
    }
    .partner_img_active {
      display: block;
    }
  }
}
.partner_img_active {
  display: none;
}
.hero {
  margin-bottom: 120px;
  .hero_block {
    display: flex;
    justify-content: space-between;
  }
  .hero_left {
    flex: 0 0 auto;
    width: 60.5%;
    padding: 45px 0 60px 45px;
    border-radius: 50px;
    background: url(../images/hero_left_bg.png),
      linear-gradient(180deg, #f19900 20.91%, #fdfdfd 79.56%);

    background-position: right bottom;
    background-repeat: no-repeat;

    .hero_left_title {
      color: #fff;
      font-size: 64px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 60px;
    }
    .left_bold_title {
      color: #fff;
      font-size: 64px;
      font-weight: 500;
      line-height: normal;
      padding: 0 25px 6px 25px;
      border-radius: 60px;
      border: 1px solid #f5f5f5;
      background: rgba(255, 255, 255, 0.3);
      margin-bottom: 10px;
      display: inline-block;
    }
    .hero_advantages_block {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: flex-start;
    }
    .advantage_item {
      align-self: baseline;
      display: flex;
      align-items: center;
      gap: 13px;
      padding: 5px 30px 5px 7px;
      border-radius: 60px;
      border: 1px solid #f5f5f5;
      background: rgba(255, 255, 255, 0.3);
      .advan_title {
        color: #040403;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 150% */
      }
    }
  }
  .hero_right {
    flex: 0 0 auto;
    width: 38.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .right_top {
      border-radius: 50px;
      background: #222328;
      padding: 40px 30px 195px 30px;
      display: flex;
      position: relative;
    }
    .right_top_title {
      color: #fff;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 390px;
      text-align: center;
      margin-bottom: 20px;
    }
    .person_img {
      position: absolute;
      bottom: 15px;
      right: 30px;
      z-index: 3;
    }
    .right_bottom {
      border-radius: 50px;
      background: #fdfdfd;
      padding: 20px 30px 20px 30px;
    }
    .form_top {
      display: flex;
      align-items: center;
      gap: 55px;
      padding-bottom: 12px;
      margin-bottom: 29px;
      border-bottom: 1px solid #cdcdeb;
    }
    .form_top_title {
      color: #222328;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .form_desc {
      color: #222328;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 426px;
      margin: 0 auto 20px auto;
    }
    .form_inputs {
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        border-radius: 60px;
        border: 1px solid #e2e2e2;
        background: rgba(255, 255, 255, 0.3);
        height: 65px;
        padding-left: 30px;
        color: #7b7f96;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        &::placeholder {
          color: #7b7f96;
          font-size: 16px;
        }
      }
      button {
        padding: 34px 0;
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 60px;
        background: #f19900;
        border: none;
        outline: none;
        transition: all 0.3s ease;
        &:hover {
          background: #fcaa1b;
        }
      }
    }
  }
}
// advice
.advice {
  .advice_top_title {
    color: #ffac1b;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
  }
  .advice_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .advice_left_title {
    color: #222328;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .advice_top_right {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 0 0 auto;
    width: 49.4%;
    margin-top: 15px;
  }
  .right_img {
    cursor: pointer;
    align-self: flex-start;
  }
  .advice_right_desc {
    color: #525a62;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .advice_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .advice_item {
      display: flex;
      flex-direction: column;
      width: calc(25% - 20px);
      padding: 35px 0 35px 30px;
      background: #fdfdfd;
      border-radius: 40px;
      min-height: 435px;
      &.advice0 {
        padding: 12px 11px 30px 30px;
      }
      &.advice1 {
        padding: 34px 0px 30px 33px;
        .item_img {
          // margin-bottom: 26px;
        }
      }
      &.advice2 {
        padding: 30px 53px 34px 30px;
        .item_img {
          text-align: right;
          margin-bottom: -20px;
        }
      }
    }
    .advice_item_desc {
      color: #222328;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: auto;
    }
    .advice_location {
      flex: 0 0 auto;
      width: calc(25% - 20px);
      padding: 30px;
      border-radius: 40px;
      position: relative;
      background: #ffac1b;
      min-height: 435px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .advice_location_desc {
      color: #fff;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 90px;
      position: relative;
      z-index: 3;
    }
    .location_img {
      position: absolute;
      top: 100px;
      right: 0;
    }
    .location_button {
      a {
        color: #222328;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 34px 0;
        width: 100%;
        text-align: center;
        border-radius: 60px;
        background: #ffff;
        transition: all 0.3s ease;
        &:hover {
          background: #ffebc8 !important;
        }
      }
    }
  }
}
// Service section
.service {
  padding: 170px 0;
  background: linear-gradient(180deg, #f0f3f9 0%, #e6eaf2 94.59%);
  .service_title {
    color: #222328;
    font-size: 50px;
    line-height: normal;
    max-width: 715px;
    margin-bottom: 110px;
    font-weight: 400;
  }
  .service_block {
    background-image: url(../images/service_curly.png);
    background-repeat: no-repeat;
    background-position: center;
    .service_block_wrapper {
      transform: translate(0px, 95px);
    }
    .service_iphone img {
      left: 0;
      top: -180px;
      right: -80px;
      margin: 0 auto;
      position: absolute;
    }
    .service_top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0 149px 0 139px;
      margin-bottom: 30px;
    }
    .service_item {
      display: flex;
      align-items: flex-start;
      gap: 13px;
      border-radius: 40px 60px 60px 60px;
      border: 1px solid #f5f5f5;
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(30px);
      padding: 8px 75px 10px 7px;
      max-width: 527px;
      &.service_item1 {
        margin-top: 80px;
      }
      &.service_item3 {
        max-width: 509px;
        margin-top: 80px;
      }
      &.service_item2 {
        max-width: 510px;
      }
    }
    .service_desc {
      color: #040403;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 150% */
    }
    .service_bottom {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding-left: 195px;
    }
    .service_form {
      padding: 35px 32px 0 40px;
      border-radius: 50px 50px 50px 0px;
      border: 1px solid #e2e2e2;
      background: rgba(253, 253, 253, 0.5);
      backdrop-filter: blur(30px);
      max-width: 530px;
    }
    .service_form_text {
      color: #222328;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 30px;
      span {
        display: inline-block;
        padding: 0 15px 6px 15px;
        color: #fff;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 60px;
        border: 1px solid #f5f5f5;
        background: #231f20;
        backdrop-filter: blur(20px);
        margin-bottom: 3px;
      }
    }
    .service_arrow {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .service_btn {
      padding: 34px 55px;
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border-radius: 60px;
      background: #f19900;
      transition: all 0.3s ease;
      &:hover {
        background: #fcaa1b;
      }
    }
  }
}
.partner {
  padding: 120px 0 150px 0;
  .partner_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
  }
  .bank_partner {
    color: #ffac1b;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .comission {
    color: #a8a8a8;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .partner_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 85px;
  }
}
// Platform
.platform {
  margin-bottom: 20px;

  .platform_mini_title {
    color: #ffac1b;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
  }
  .platform_title {
    color: #222328;
    font-size: 50px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 80px;
  }
  .platform_block {
    border-radius: 50px;
    background-color: #fdfdfd;
    padding: 50px 30px 30px 50px;
    background-image: url(../images/paytaxi_bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
  }
  .platform_top {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 90px;
    .platform_number {
      color: #ffac1b;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .platform_desc {
      color: #222328;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .grey_block {
    border-radius: 50px;
    background: #efeff3;
    width: 800px;
    height: 500px;
    position: relative;
    margin-left: 65px;
    background-image: url(../images/adminBBg.jpg);
  }
  .white_block {
    border-radius: 50px;
    border: 1px solid #e2e2e2;
    background: #fdfdfd;
    position: absolute;
    right: -135px;
    bottom: -85px;
    width: 387px;
    height: 255px;
    z-index: 3;
    background-image: url(../images/adminLBg.jpg);
  }
  .platform_body {
    gap: 10px;
    display: flex;
    justify-content: space-between;
  }
  .platform_advice {
    .advice_border {
      padding: 13px 25px 17px 38px;
      border-radius: 50px 50px 50px 0px;
      border: 1px solid #e2e2e2;
      background: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(20px);
      color: #040403;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      margin: 150px 55px 0px 0;
      span {
        color: #ffac1b;
      }
    }
    .platform_girl {
      margin-bottom: 55px;
    }
  }
}
// about
.about {
  margin-bottom: 140px;
  .about_block {
    padding: 50px 30px 30px 50px;
    border-radius: 50px;
    background-color: #fdfdfd;
    background-image: url(../images/about_bg.png);
    background-repeat: no-repeat;
    background-position: 70% bottom;
    background-size: 108%;
    .platform_top {
      margin-bottom: 100px;
    }
  }

  .about_advice {
    .about_border {
      padding: 13px 25px 17px 38px;
      border-radius: 50px 50px 50px 0px;
      border: 1px solid #e2e2e2;
      background: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(20px);
      color: #040403;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      span {
        color: #ffac1b;
      }
    }
    .about_item1 {
      margin-left: 610px;
      .about_border {
        max-width: 470px;
      }
    }
    .about_item2 {
      margin-left: 800px;
      margin-bottom: 50px;
      .about_border {
        max-width: 505px;
      }
    }
    .about_item3 {
      margin-left: 610px;
      margin-top: 40px;
      .about_border {
        max-width: 443px;
      }
    }
    .about_bottom {
      display: flex;
      align-items: flex-start;
      gap: 75px;
    }
  }
}
// referal section
.referal {
  // padding-bottom: 140px;
  .referal_top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  .referal_title {
    color: #222328;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 715px;
  }
  .referal_desc {
    color: #525a62;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 800px;
  }
  .referal_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 135px;
  }
  .referal_item {
    border-radius: 50px;
    border: 1px solid #e2e2e2;
    background: #f9f9fa;
    padding: 20px 0 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 auto;
    width: 22.9%;
  }
  .referal_name {
    color: #2b3238;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .referal_arrow {
    padding: 20px 20px 10px 20px;
    border-radius: 50px;
    background: #ffac1b;
    flex: 0 0 auto;
    width: 15.7%;
  }
  .arrow_text {
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
  }
  .arrow_img {
    text-align: center;
  }
}
// crm_section
.crm_section {
  .crm_block {
    position: relative;
    padding: 50px 35px 45px 50px;
    border-radius: 50px;
    background-color: #fdfdfd;
    background-image: url(../images/crm_bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 20px;
    &#real_crm {
      margin-bottom: -90px;
      margin-top: 200px;
    }
    &#crm_page {
      margin-bottom: 90px;
    }
    .crm_rectangle {
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 800px;
      height: 550px;
      border-radius: 50px;
      background-image: url(../images/crmBBg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .crm_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 65px;
    .platform_top {
      margin-bottom: 10px;
    }
    .crm_desc {
      color: #525a62;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 715px;
      margin-top: 15px;
    }
  }
  .buh_main_top {
    flex-direction: column;
    gap: 15px;
  }
  .crm_main_top {
    display: flex;
    justify-content: space-between;
    padding: 0 175px 0 135px;
    position: relative;
    z-index: 3;
  }
  .about_border {
    display: inline-flex;
  }
  .crm_item1 {
    margin-top: 65px;
  }
  .crm_item2 {
    margin-right: 35px;
  }
  .crm_bottom {
    display: flex;
    flex-direction: column;
  }
  .crm_item3 {
    align-self: flex-end;
  }
  .buh_item {
    align-self: flex-start;
  }
  .crm_user {
    padding: 30px 40px 30px 40px;
    border-radius: 50px 50px 50px 0px;
    border: 1px solid #e2e2e2;
    background: rgba(253, 253, 253, 0.5);
    backdrop-filter: blur(30px);
    max-width: 530px;
    margin-left: auto;
    margin-right: 100px;
    .crm_user_title {
      color: #202427;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 20px;
    }
    .crm_bottom_list {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    .crm_list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      li {
        list-style: none;
        color: #283037;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
      }
    }
  }
}
// safety_section
.safety_section {
  .safety_block {
    transform: translate(0px, 185px);
    background-image: url(../images/safety_bg.png);
    .crm_rectangle {
      height: 500px;
      background-image: url(../images/antifrodBg.svg);
      background-position: center;
      background-size: cover;
    }
    .crm_top {
      margin-bottom: 30px;
    }
    .crm_main_top {
      margin-bottom: 100px;
    }
    .safety_submit {
      padding: 25px 0 30px 30px;
      background: #ffac1b;
      width: 390px;
      border-radius: 30px;
      margin-left: auto;
      position: relative;
      z-index: 3;
    }
    .safety_submit_title {
      color: #fff;
      padding-right: 60px;
      font-size: 20px;
      font-style: normal;
      margin-bottom: 40px;
      font-weight: 500;
      line-height: 26px; /* 130% */
      p {
        display: inline-block;
        margin-bottom: 3px;
        padding: 0 15px 6px 15px;
        border-radius: 60px;
        border: 1px solid #f5f5f5;
        background: #ffc052;
        backdrop-filter: blur(20px);
      }
    }
    .safety_buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .take_btn {
      padding: 34px 55px;
      color: #222328;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 60px;
      background: #ffff;
      transition: all 0.3s ease;
      &:hover {
        background: #ffebc8 !important;
      }
    }
  }
}
// Яндекс section
.crm_item2-span {
  min-width: 90px;
}
.robot_section {
  .robot_block {
    transform: translate(0px, 185px);
    .crm_rectangle {
      height: 500px;
      background-image: url(../images/228.Robot.svg);
      background-position: center;
      background-size: cover;
    }
    .crm_item1 {
      @media (max-width: 1200px) {
        margin-top: 0;
      }
    }
    .crm_item2 {
      @media (max-width: 1200px) {
        margin-top: 65px;
      }
    }
    .crm_top {
      margin-bottom: 30px;
    }
    .crm_main_top {
      margin-bottom: 100px;
      gap: 190px;

      @media (max-width: 760px) {
        gap: 10px;
      }
      @media (max-width: 1200px) {
        flex-direction: column-reverse;
      }
    }
    .safety_submit {
      padding: 25px 0 30px 30px;
      background: #ffac1b;
      width: 390px;
      border-radius: 30px;
      margin-left: auto;
      position: relative;
      z-index: 3;
    }
    .safety_submit_title {
      color: #fff;
      padding-right: 60px;
      font-size: 20px;
      font-style: normal;
      margin-bottom: 40px;
      font-weight: 500;
      line-height: 26px; /* 130% */
      p {
        display: inline-block;
        margin-bottom: 3px;
        padding: 0 15px 6px 15px;
        border-radius: 60px;
        border: 1px solid #f5f5f5;
        background: #ffc052;
        backdrop-filter: blur(20px);
      }
    }
    .safety_buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .take_btn {
      padding: 34px 55px;
      color: #222328;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 60px;
      background: #ffff;
      transition: all 0.3s ease;
      &:hover {
        background: #ffebc8 !important;
      }
    }
  }
}
.yandex_section {
  .yandex_block {
    transform: translate(0px, 185px);
    background-image: url(../images/safety_bg.png);
    .crm_rectangle {
      height: 500px;
      background-image: url(../images/111.Business-plan.svg);
      background-position: center;
      background-size: contain;
    }
    .crm_item1 {
      @media (max-width: 1200px) {
        margin-top: 0;
      }
    }
    .crm_item2 {
      @media (max-width: 1200px) {
        margin-top: 65px;
      }
    }
    .crm_top {
      margin-bottom: 30px;
    }
    .crm_main_top {
      gap: 190px;
      margin-bottom: 140px;

      @media (max-width: 760px) {
        gap: 10px;
        margin-bottom: 10px;
      }
      @media (max-width: 1200px) {
        flex-direction: column-reverse;
        gap: 10px;
      }
    }
    .safety_submit {
      padding: 25px 0 30px 30px;
      background: #ffac1b;
      width: 390px;
      border-radius: 30px;
      margin-left: auto;
      position: relative;
      z-index: 3;
    }
    .safety_submit_title {
      color: #fff;
      padding-right: 60px;
      font-size: 20px;
      font-style: normal;
      margin-bottom: 40px;
      font-weight: 500;
      line-height: 26px; /* 130% */
      p {
        display: inline-block;
        margin-bottom: 3px;
        padding: 0 15px 6px 15px;
        border-radius: 60px;
        border: 1px solid #f5f5f5;
        background: #ffc052;
        backdrop-filter: blur(20px);
      }
    }
    .safety_buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .take_btn {
      padding: 34px 55px;
      color: #222328;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 60px;
      background: #ffff;
      transition: all 0.3s ease;
      &:hover {
        background: #ffebc8 !important;
      }
    }
  }
}
.safety_submit {
  @media (max-width: 456px) {
    width: 100% !important;
  }
}
// secret
.secret {
  background: #e6eaf2;
  padding: 290px 0 140px 0;
  .secret_title {
    color: #222328;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 585px;
    margin-bottom: 55px;
  }
  .secret_item {
    background: #fdfdfd;
    border-radius: 25px;
    padding: 19px 18px 30px 30px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .secret_block {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .secret_title {
      color: #222328;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 20px;
    }
    .secret_desc {
      color: #525a62;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 600px;
    }
    .secret_left {
      flex: 0 0 auto;
      width: 24.1%;
    }
    .secret_item1 {
      .secret_img {
        text-align: end;
        margin-right: 25px;
        margin-bottom: 20px;
      }
    }
    .secret_item2 {
      .secret_img {
        text-align: end;
        margin-right: 70px;
      }
    }
    .secret_item3 {
      flex: 0 0 auto;
      width: 49.4%;
      .secret_img {
        text-align: end;
        margin: 0 32px 0px 0;
        max-height: 243px;
      }
    }
  }
  .secret_button {
    text-align: center;
    a {
      padding: 34px 55px;
      color: #f6f6f9;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border-radius: 60px;
      background: #f19900;
      transition: all 0.3s ease;
      &:hover {
        background: #fcaa1b;
        color: #f6f6f9;
      }
    }
  }
}
// document
.document {
  background: #e6eaf2;
  padding-bottom: 135px;
  .document_small {
    color: #ffac1b;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
  }
  .document_title_block {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 40px;
    .document_title {
      color: #222328;
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 650px;
    }
    .doc_desc {
      color: #525a62;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 762px;
    }
  }
  .document_block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
  .document_item {
    border-radius: 50px;
    border: 1px solid #e2e2e2;
    background: #f3f3f6;
    padding: 20px 20px 20px 40px;
    flex: 0 0 auto;
    width: 15%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .item_title {
      color: #2b3238;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 150px;
    }
    .item_img {
      padding: 10px 15px;
      text-align: end;
    }
  }
}
// tarif
.offer_wrapper {
  .offer_title {
    color: #222328;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 715px;
    margin-bottom: 70px;
  }
  .offer_block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .offer_item {
    border-radius: 50px;
    border: 1px solid #e2e2e2;
    background: #f9f9fa;
    padding: 20px 23px 20px 40px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .offer_text {
    color: #2b3238;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 150px;
  }
}
.tarif {
  padding: 140px 0 135px 0;
  .tarif_wrapper {
    margin-bottom: 140px;
  }
  .tarif_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .tarif_title {
    color: #222328;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .top_right {
    border-radius: 50px;
    border: 1px solid #e2e2e2;
    background: #f9f9fa;
    padding: 25px 0 25px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .top_right_desc {
      color: #a8a8a8;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 250px;
    }
    .top_right_docs {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .docs_title {
      color: #ffac1b;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: underline;
      max-width: 185px;
    }
  }

  .tarif_block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    .tarif_item {
      flex: 0 0 auto;
      width: 19.1%;
      border-radius: 30px;
      .tarif_main {
        position: relative;
        padding: 30px;
      }
      .tarif_bottom {
        border-radius: 0 0 30px 30px;
      }
      .tarif_img {
        right: 22px;
        bottom: 22px;
        position: absolute;
      }
      .tarif_name {
        color: #222328;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 20px;
      }
      .tarif_subtitle {
        position: relative;
        color: #525a62;
        white-space: nowrap;
        z-index: 1;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 115px;
      }
      .tarif_bottom {
        padding: 30px;
        background: #fdfdfd;
      }
      .tarif_price {
        color: #222328;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 25px;
      }
      .tarif_btn {
        text-align: center;
        a {
          display: flex;
          justify-content: center;
          color: #f6f6f9;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          padding: 34px 55px;
          border-radius: 60px;
          background: #f19900;
          transition: all 0.3s ease;
          &:hover {
            background: #fcaa1b;
          }
        }
      }
    }
    .badge {
      position: absolute;
      top: 24px;
      right: -116px;
      background-color: rgba(255, 77, 77, 0.631);
      color: white;
      padding: 15px 10px;
      font-size: 14px;
      border-radius: 8px;
      font-weight: bold;
      z-index: 10;

      /* Анимация изменения размера */
      animation: pulse 2s infinite;
    }

    /* Анимация изменения размера */
    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
    .tarif_item1 {
      background: rgba(253, 253, 253, 0.5);
    }
    .tarif_item2 {
      background: linear-gradient(180deg, #ffac1b 0%, #fdfdfd 100%);
      .tarif_bottom {
        background: rgba(253, 253, 253, 0.5);
      }
      .tarif_name,
      .tarif_subtitle {
        color: #fff;
      }
    }
    .tarif_item4 {
      background: #222328;
      .tarif_bottom {
        background: #4f5055;
      }
      .tarif_name,
      .tarif_subtitle,
      .tarif_price {
        color: #fff;
        white-space: nowrap;
      }
      .tarif_btn a {
        background: #f0f3f9;
        color: #000;
        transition: all 0.3s ease;
        &:hover {
          background: #e0e0e4 !important;
        }
      }
    }
  }
}
.active_img {
  display: none;
}
.extra_item {
  transition: all ease-in 0.3s;
  cursor: pointer;
  &:hover {
    background: #f19900;
    .extra_img > img {
      display: none;
    }
    .active_img {
      display: block;
    }

    p {
      color: #fff;
    }
  }
}
// footer
.extra_apps-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}
.extra_item {
  width: 100%;
  padding: 20px 60px 20px 50px;
  border-radius: 60px;
  border: 1px solid #f19900;
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: flex-end;
}
.extra_title {
  color: #f19900;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
.policy {
  color: #838588;
}
.article-block-text {
  margin-bottom: 40px;
  margin-top: 20px;
  ol,
  ul {
    padding-left: 2rem;
  }
}

.extra_item-menu {
  padding: 15px 60px 15px 50px;
  border-radius: 60px;
  border: 1px solid #f19900;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  &:hover::before {
    transform: scaleX(0) !important;
  }
}
.extra_title-menu {
  color: #f19900;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer {
  @media (max-width: 500px) {
    padding: 60px 0 55px 0;
  }
  background: #e6eaf2;
  padding: 85px 0 55px 0;
  .footer_call {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 1px solid #bfc8dc;
    margin-bottom: 80px;
    .call_mini_title {
      color: #ffac1b;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 30px;
    }
    .call_title {
      color: #222328;
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 780px;
      margin-bottom: 20px;
    }
    .call_subtitle {
      color: #525a62;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .call_form {
      margin-top: 45px;
      width: 530px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        border-radius: 60px;
        border: 1px solid #e2e2e2;
        background: rgba(255, 255, 255, 0.3);
        height: 65px;
        padding-left: 30px;
        color: #7b7f96;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        outline: none;
        line-height: normal;
        &::placeholder {
          color: #7b7f96;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      .call_send {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 60px;
        background: #f19900;
        padding: 34px 0;
        width: 100%;
        text-align: center;
        outline: none;
        border: none;
        transition: all 0.3s ease;
        &:hover {
          background: #fcaa1b;
        }
      }
    }
  }
  .footer_block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer_left {
    align-items: flex-start;
    display: flex;
    gap: 200px;
  }
  .left_block {
    .left_block_img {
      margin-bottom: 50px;
    }
    .left_block_year {
      color: #a8a8a8;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 20px;
    }
    .left_cards {
      color: #a8a8a8;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .right_block {
    .right_block_list {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin-bottom: 230px;
      li a {
        color: #222328;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 200% */
        position: relative;
        transition: all ease 0.2s;
        &::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 2.5px;
          border-radius: 4px;
          background-color: rgb(29, 33, 31);
          bottom: -3px;
          left: 0;
          transform-origin: left;
          transform: scaleX(0);
          transition: transform 0.2s ease-in-out;
        }
        &:hover::before {
          transform-origin: left;
          transform: scaleX(1);
        }
      }
    }
    .footer_rules {
      color: #838588;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px; /* 200% */
      padding-right: 12px;
    }
  }
  .footer_right {
    & > a {
      position: relative;
      transition: all ease 0.2s;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2.5px;
        border-radius: 4px;
        background-color: #f19900;
        bottom: -3px;
        left: 0;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }
      &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
    .footer_tel {
      color: #f19900;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: block;
      margin-bottom: 20px;
    }
    .footer_mail {
      color: #f19900;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: block;
      margin-bottom: 50px;
    }
    .footer_right_extra {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .activities {
      li {
        list-style: none;
      }
      h4,
      p {
        font-size: 100%;
      }
    }
  }
}
